extends layout

block hero-unit
  #myCarousel.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      li.active(data-target='#myCarousel', data-slide-to='0')
      li(data-target='#myCarousel', data-slide-to='1')
      li(data-target='#myCarousel', data-slide-to='2')
    .carousel-inner(role='listbox')
      .item.active
        img.first-slide(src='/images/크기변환_Travel.jpg', alt='First slide')
        .container
          .carousel-caption
            h1 환영합니다.
      .item
        img.second-slide(src='/images/크기변환_유럽여행_012.jpg', alt='Second slide')
        .container
          .carousel-caption
            h1 새로운 여행을 시작해 보세요.
      .item
        img.third-slide(src='/images/크기변환_tt.jpg', alt='Third slide')
        .container
          .carousel-caption
            h1 친구들과 함께 떠나 보세요.
    a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
      span.sr-only Previous
    a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
      span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
      span.sr-only Next
    br

block content
  .container.marketing
    .row
      .col-lg-4
        img.img-circle(src='/images/search.gif', alt='Generic placeholder image', width='140', height='140')
        h3 원하는 숙소를 찾아보세요
        p
          | 원하는 날짜, 원하는 도시에 해당하는 숙소를 찾고 여행을 떠나 보세요.
        p
          a.btn.btn-default(href='/rooms/lists', role='button') 숙소보기 »
      // /.col-lg-4
      .col-lg-4
        img.img-circle(src='/images/photopark_1042245.jpg', alt='Generic placeholder image', width='140', height='140')
        h3 여분의 공간을 호스팅하세요
        p
          | 산 속의 오두막집, 남는 방 등 회원님의 공간에 게스트를 맞이하고 수입을 누리세요.
        p
          a.btn.btn-default(href='/rooms/hosting', role='button') 숙소 등록하기 »
      // /.col-lg-4
      .col-lg-4
        img.img-circle(src='/images/3img.jpg', alt='Generic placeholder image', width='140', height='140')
        h3 예약을 확인하세요
        p
          | 내가 예약한 숙소와 내가 등록한 숙소의 예약현황을 확인하세요.
        p
          a.btn.btn-default(href='/rooms/ix', role='button') 예약현황확인 »
    hr.featurette-divider
 

